<div class="row">
<% @menu.photos.each do |photo| %>
  <div class="col-xs-6 col-md-3">
<a href="<%= photo.image_url(:big).to_s %>" class="thumbnail" rel="prettyPhoto[pp_gal]" title="<%= photo.description %>"><img src="<%= photo.image.small.url%>" /></a>
  </div>
<% end %>
</div>
<script type="text/javascript" charset="utf-8">
    $("a[rel^='prettyPhoto']").prettyPhoto({
		social_tools: false
	});
</script>