<div class="row">
<% @menu.photos.each do |photo| %>
    <div class="col-md-2" style="height:150px">
	 <a href="<%= photo.image_url(:big).to_s %>" rel="prettyPhoto[pp_gal]" title="<%= photo.description %>"><img src="<%= photo.image.small.url%>" /></a>
 
    </div>
<% end %>
</div>
<script type="text/javascript" charset="utf-8">
    $("a[rel^='prettyPhoto']").prettyPhoto({
		social_tools: false
	});
</script>