<ul>
	<% @page.menus.each do |m| %> 
		<% if m.submenus.first == nil %>
		<li> <%= link_to "#{m.name}", m %> </li>
		<% else %>
		<li> <%= m.name %> </li>
			<% m.submenus.each do |sub|%>
			<li style="margin-left: 20px"> <%= link_to "#{sub.name}", sub %> </li>
			<% end %>
		<% end %>
	<% end %>
</ul>