<p class="fields" style="padding-top: 0px;">
  <%= f.input :name, label: "Submenu", input_html: {style: "width: 30%"} %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields "Remover", f %>
</p>