<%= link_to "New Photo", new_photo_path %>
<div class="row">
<% @photos.each do |photo| %>
  
  
    <div class="col-md-2" style="height:150px">
  	<%= image_tag photo.image_url(:small).to_s %>
    <%= photo.description %>
    </div>
  

<% end %>
</div>